<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/base.css">
</head>
<body>
 <%- include('../layout/header') %>
 <main>
     <h1>BOOKS LIST</h1>
 

 <section>
     <% booksArr.forEach(book=>{ %>
        <form class="book" method="POST" action="/addbook">
        <img src="<%= book.url %>" alt="">
    <input type="hidden" name="url" value="<%= book.url %>">
<h2>
    TITLE: <%= book.title %>
</h2>
<input type="hidden" name="title" value="<%= book.title %>"> 
<h3>
    AUTHOR: <%= book.author %>
</h3>
<input type="hidden" name="author" value="<%= book.author %>"> 
<p>
    description: <% book.description %>
</p>
<input type="hidden" name="description" value="<%= book.description %>">

<button>BOOK SELECT</button>
</form>

    <% })%>
 </section>
</main>
<footer></footer>

    
</body>
</html>