<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <%- include('./layout/header') %> -->
    <main>
        <!-- <h1>Number Of Books : <%= Data.length %></h1>
        <% Data.forEach(book=>{ %>

            <div>
                <img src="<%= book.url %" alt="">
                <h2>
                    TITLE: <%= book.title %>
                </h2>
                <h3>
                    AUTHOR: <%= book.author %>
                </h3>
                <a href="/books/<%=book.id%>"> details</a>
            </div>

        <% }) %> -->
        <!-- <h1>
            <%= Data.age %>        </h1> -->
      
    </main>
    <footer></footer>
    
</body>
</html>